repos:
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        pass_filenames: false
        always_run: true
      - id: update_coverage_badge
        name: update coverage badge
        entry: bash -c "uv run pytest --cov=. --cov-report=term | grep TOTAL | awk '{print $4}' | sed 's/%//' | xargs -I {} sed -i 's/coverage-[0-9]*%/coverage-{}%/g' README.md && git add README.md"
        language: system
        pass_filenames: false
        always_run: true
