repos:
  - repo: https://github.com/pypa/pip-audit
    rev: v2.10.0
    hooks:
      - id: pip-audit
        args: [ "--descendents" ]

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.408
    hooks:
      - id: pyright


  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        pass_filenames: false
        always_run: true
      - id: update_coverage_badge
        name: update coverage badge
        entry: bash -c "uv run pytest --cov=. --cov-report=term | grep TOTAL | awk '{print $4}' | sed 's/%//' | xargs -I {} sed -i 's/coverage-[0-9]*%/coverage-{}%/g' README.md && git add README.md"
        language: system
        pass_filenames: false
        always_run: true
