repos:
  - repo: https://github.com/pypa/pip-audit
    rev: v2.10.0
    hooks:
      - id: pip-audit

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.408
    hooks:
      - id: pyright
        args: ["--all-files"]

  - repo: local
    hooks:
      - id: runtest
        name: run tests and update badges
        entry: bash ./scripts/runtest.sh
        language: system
        pass_filenames: false
        always_run: true
